@media print {
  body * {
    visibility: hidden;
  }
  .facture-print,
  .facture-print * {
    visibility: visible;
  }
  .facture-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
  }
}
